---
http_interactions:
- request:
    method: get
    uri: http://api.dawn.dev/apps/env-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.1.2
      X-Ruby-Platform:
      - x86_64-linux
      Authorization:
      - Basic SWNlRHJhZ29uOmFGM0VHM1hjdW16Sm1LcGFIeUI5
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - text/html
      etag:
      - '"12423b39d6aa36cbfabe6db4db698199"'
    body:
      encoding: UTF-8
      string: '{"app":{"id":10,"created_at":"2014-06-24 18:36:22 UTC","updated_at":"2014-06-24
        18:36:22 UTC","name":"env-test","version":0,"env":{},"formation":{"web":"1"},"url":"env-test.dawnapp.dev"}}'
  recorded_at: Tue, 24 Jun 2014 22:26:42 GMT
recorded_with: VCR 2.9.2
