---
http_interactions:
- request:
    method: get
    uri: http://api.dawn.dev/apps/app-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.1.2
      X-Ruby-Platform:
      - x86_64-linux
      Authorization:
      - Basic SWNlRHJhZ29uOmhpbV93NGJ6TGNoMXdFdkhMOENI
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - text/html
      etag:
      - '"fecf4b24feed7a8ed147b109a6e40e4b"'
    body:
      encoding: UTF-8
      string: '{"app":{"id":1,"created_at":"2014-06-24 17:46:19 UTC","updated_at":"2014-06-24
        17:48:53 UTC","name":"app-test","version":0,"env":{},"formation":{"web":"2"},"url":"app-test.dawnapp.dev"}}'
  recorded_at: Tue, 24 Jun 2014 17:49:13 GMT
- request:
    method: get
    uri: http://api.dawn.dev/apps/1/logs?tail=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.1.2
      X-Ruby-Platform:
      - x86_64-linux
      Authorization:
      - Basic SWNlRHJhZ29uOmhpbV93NGJ6TGNoMXdFdkhMOENI
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - text/html
      etag:
      - '"3e12de86ad53ee13e992b2c5a42d2fff"'
    body:
      encoding: UTF-8
      string: '{"logs":"/sessions/d2b8f114-8358-4754-8b76-b6ec2c1727ef"}'
  recorded_at: Tue, 24 Jun 2014 17:49:14 GMT
recorded_with: VCR 2.9.2
