---
http_interactions:
- request:
    method: get
    uri: http://api.dawn.dev/apps/app-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.1.2
      X-Ruby-Platform:
      - x86_64-linux
      Authorization:
      - Basic SWNlRHJhZ29uOmFGM0VHM1hjdW16Sm1LcGFIeUI5
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - text/html
      etag:
      - '"3706693ac5e209a35be13767e42109c6"'
    body:
      encoding: UTF-8
      string: '{"app":{"id":15,"created_at":"2014-06-24 19:08:41 UTC","updated_at":"2014-06-24
        22:21:35 UTC","name":"app-test","version":0,"env":{},"formation":{"web":"2"},"url":"app-test.dawnapp.dev"}}'
  recorded_at: Tue, 24 Jun 2014 22:24:14 GMT
- request:
    method: get
    uri: http://api.dawn.dev/apps/15/logs?tail=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.1.2
      X-Ruby-Platform:
      - x86_64-linux
      Authorization:
      - Basic SWNlRHJhZ29uOmFGM0VHM1hjdW16Sm1LcGFIeUI5
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - text/html
      etag:
      - '"a29a821b348570a427b3e52fda5c3a91"'
    body:
      encoding: UTF-8
      string: '{"logs":"/sessions/af98169c-4714-4683-90d3-4f84ef474a85"}'
  recorded_at: Tue, 24 Jun 2014 22:24:18 GMT
recorded_with: VCR 2.9.2
