---
http_interactions:
- request:
    method: get
    uri: http://api.dawn.dev/apps/crispy-judge
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.1.2
      X-Ruby-Platform:
      - x86_64-linux
      Authorization:
      - Basic SWNlRHJhZ29uOmFGM0VHM1hjdW16Sm1LcGFIeUI5
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - text/html
      etag:
      - '"2255e04539af7c716b760a7e7886886a"'
    body:
      encoding: UTF-8
      string: '{"app":{"id":18,"created_at":"2014-06-24 22:21:22 UTC","updated_at":"2014-06-24
        22:21:22 UTC","name":"crispy-judge","version":0,"env":{},"formation":{"web":"1"},"url":"crispy-judge.dawnapp.dev"}}'
  recorded_at: Tue, 24 Jun 2014 22:25:25 GMT
- request:
    method: delete
    uri: http://api.dawn.dev/apps/18
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.1.2
      X-Ruby-Platform:
      - x86_64-linux
      Authorization:
      - Basic SWNlRHJhZ29uOmFGM0VHM1hjdW16Sm1LcGFIeUI5
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - text/html
      etag:
      - '"1ce274e88a32b6499661c494df064296"'
    body:
      encoding: UTF-8
      string: '{"message":"app has been destroyed"}'
  recorded_at: Tue, 24 Jun 2014 22:25:30 GMT
recorded_with: VCR 2.9.2
