---
http_interactions:
- request:
    method: get
    uri: http://api.dawn.dev/apps/app-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.1.2
      X-Ruby-Platform:
      - x86_64-linux
      Authorization:
      - Basic SWNlRHJhZ29uOmFGM0VHM1hjdW16Sm1LcGFIeUI5
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - text/html
      etag:
      - '"ed81efdf8b3e6701d77d52d4285a80be"'
    body:
      encoding: UTF-8
      string: '{"app":{"id":13,"created_at":"2014-06-24 18:51:42 UTC","updated_at":"2014-06-24
        18:53:19 UTC","name":"app-test","version":0,"env":{},"formation":{"web":"2"},"url":"app-test.dawnapp.dev"}}'
  recorded_at: Tue, 24 Jun 2014 18:55:48 GMT
- request:
    method: delete
    uri: http://api.dawn.dev/apps/13
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.1.2
      X-Ruby-Platform:
      - x86_64-linux
      Authorization:
      - Basic SWNlRHJhZ29uOmFGM0VHM1hjdW16Sm1LcGFIeUI5
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - text/html
      etag:
      - '"1ce274e88a32b6499661c494df064296"'
    body:
      encoding: UTF-8
      string: '{"message":"app has been destroyed"}'
  recorded_at: Tue, 24 Jun 2014 18:55:49 GMT
- request:
    method: get
    uri: http://api.dawn.dev/apps/crispy-judge
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.1.2
      X-Ruby-Platform:
      - x86_64-linux
      Authorization:
      - Basic SWNlRHJhZ29uOmFGM0VHM1hjdW16Sm1LcGFIeUI5
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - text/html
      etag:
      - '"d5c11ee900e3656dac0854b15a9c6f90"'
    body:
      encoding: UTF-8
      string: '{"app":{"id":12,"created_at":"2014-06-24 18:39:59 UTC","updated_at":"2014-06-24
        18:39:59 UTC","name":"crispy-judge","version":0,"env":{},"formation":{"web":"1"},"url":"crispy-judge.dawnapp.dev"}}'
  recorded_at: Tue, 24 Jun 2014 19:08:24 GMT
- request:
    method: delete
    uri: http://api.dawn.dev/apps/12
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.1.2
      X-Ruby-Platform:
      - x86_64-linux
      Authorization:
      - Basic SWNlRHJhZ29uOmFGM0VHM1hjdW16Sm1LcGFIeUI5
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - text/html
      etag:
      - '"1ce274e88a32b6499661c494df064296"'
    body:
      encoding: UTF-8
      string: '{"message":"app has been destroyed"}'
  recorded_at: Tue, 24 Jun 2014 19:08:24 GMT
recorded_with: VCR 2.9.2
