---
http_interactions:
- request:
    method: get
    uri: http://api.dawn.dev/account
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.1.2
      X-Ruby-Platform:
      - x86_64-linux
      Authorization:
      - Basic SWNlRHJhZ29uOmFGM0VHM1hjdW16Sm1LcGFIeUI5
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - text/html
      etag:
      - '"ce9867a51a39b1798d0a59d81cde56ae"'
    body:
      encoding: UTF-8
      string: '{"user":{"id":2,"created_at":"2014-06-24 18:34:17 UTC","updated_at":"2014-06-24
        22:14:15 UTC","username":"IceDragon","email":"mistdragon100@gmail.com","api_key":"aF3EG3XcumzJmKpaHyB9"}}'
  recorded_at: Tue, 24 Jun 2014 22:28:16 GMT
recorded_with: VCR 2.9.2
