---
http_interactions:
- request:
    method: post
    uri: http://api.dawn.dev/apps
    body:
      encoding: UTF-8
      string: '{"app":{"name":"crispy-judge"}}'
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.1.2
      X-Ruby-Platform:
      - x86_64-linux
      Authorization:
      - Basic SWNlRHJhZ29uOmhpbV93NGJ6TGNoMXdFdkhMOENI
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - text/html
      etag:
      - '"e3b078fd10b585949183fb950842c224"'
    body:
      encoding: UTF-8
      string: '{"app":{"id":12,"created_at":"2014-06-24 17:48:49 UTC","updated_at":"2014-06-24
        17:48:49 UTC","name":"crispy-judge","version":0,"env":{},"formation":{"web":"1"},"url":"crispy-judge.dawnapp.dev"}}'
  recorded_at: Tue, 24 Jun 2014 17:49:09 GMT
recorded_with: VCR 2.9.2
