---
http_interactions:
- request:
    method: post
    uri: http://api.dawn.dev/apps
    body:
      encoding: UTF-8
      string: '{"app":{"name":null}}'
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.1.2
      X-Ruby-Platform:
      - x86_64-linux
      Authorization:
      - Basic SWNlRHJhZ29uOmFGM0VHM1hjdW16Sm1LcGFIeUI5
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - text/html
      etag:
      - '"598e5d9eaac707ccff3f8d4dbbed539d"'
    body:
      encoding: UTF-8
      string: '{"app":{"id":17,"created_at":"2014-06-24 22:21:21 UTC","updated_at":"2014-06-24
        22:21:21 UTC","name":"sick-brown-32","version":0,"env":{},"formation":{"web":"1"},"url":"sick-brown-32.dawnapp.dev"}}'
  recorded_at: Tue, 24 Jun 2014 22:21:41 GMT
recorded_with: VCR 2.9.2
