---
http_interactions:
- request:
    method: post
    uri: http://api.dawn.dev/apps
    body:
      encoding: UTF-8
      string: '{"app":{"name":"crispy-judge"}}'
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.1.2
      X-Ruby-Platform:
      - x86_64-linux
      Authorization:
      - Basic SWNlRHJhZ29uOmFGM0VHM1hjdW16Sm1LcGFIeUI5
  response:
    status:
      code: 409
      message: 
    headers:
      content-type:
      - text/html
    body:
      encoding: UTF-8
      string: '{"id":"app.exists","message":"App crispy-judge already exists"}'
  recorded_at: Tue, 24 Jun 2014 18:53:36 GMT
- request:
    method: get
    uri: http://api.dawn.dev/apps/crispy-judge
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.1.2
      X-Ruby-Platform:
      - x86_64-linux
      Authorization:
      - Basic SWNlRHJhZ29uOmFGM0VHM1hjdW16Sm1LcGFIeUI5
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - text/html
      etag:
      - '"d5c11ee900e3656dac0854b15a9c6f90"'
    body:
      encoding: UTF-8
      string: '{"app":{"id":12,"created_at":"2014-06-24 18:39:59 UTC","updated_at":"2014-06-24
        18:39:59 UTC","name":"crispy-judge","version":0,"env":{},"formation":{"web":"1"},"url":"crispy-judge.dawnapp.dev"}}'
  recorded_at: Tue, 24 Jun 2014 18:53:37 GMT
recorded_with: VCR 2.9.2
