---
http_interactions:
- request:
    method: get
    uri: http://api.dawn.dev/apps
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.1.2
      X-Ruby-Platform:
      - x86_64-linux
      Authorization:
      - Basic SWNlRHJhZ29uOmhpbV93NGJ6TGNoMXdFdkhMOENI
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - text/html
      etag:
      - '"d7a1a09a8955201673e5514df4220689"'
    body:
      encoding: UTF-8
      string: '[{"app":{"id":1,"created_at":"2014-06-24 17:46:19 UTC","updated_at":"2014-06-24
        17:46:19 UTC","name":"app-test","version":0,"env":{},"formation":{"web":"1"},"url":"app-test.dawnapp.dev"}},{"app":{"id":2,"created_at":"2014-06-24
        17:46:20 UTC","updated_at":"2014-06-24 17:46:20 UTC","name":"domains-test","version":0,"env":{},"formation":{"web":"1"},"url":"domains-test.dawnapp.dev"}},{"app":{"id":3,"created_at":"2014-06-24
        17:46:20 UTC","updated_at":"2014-06-24 17:46:20 UTC","name":"domain-test","version":0,"env":{},"formation":{"web":"1"},"url":"domain-test.dawnapp.dev"}},{"app":{"id":4,"created_at":"2014-06-24
        17:46:23 UTC","updated_[...]
