---
http_interactions:
- request:
    method: get
    uri: http://api.dawn.dev/apps
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.1.2
      X-Ruby-Platform:
      - x86_64-linux
      Authorization:
      - Basic SWNlRHJhZ29uOmFGM0VHM1hjdW16Sm1LcGFIeUI5
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - text/html
      etag:
      - '"54e24726d56f4a3db1f0c02a7080738b"'
    body:
      encoding: UTF-8
      string: '[{"app":{"id":2,"created_at":"2014-06-24 18:36:05 UTC","updated_at":"2014-06-24
        18:36:05 UTC","name":"domains-test","version":0,"env":{},"formation":{"web":"1"},"url":"domains-test.dawnapp.dev"}},{"app":{"id":3,"created_at":"2014-06-24
        18:36:06 UTC","updated_at":"2014-06-24 18:36:06 UTC","name":"domain-test","version":0,"env":{},"formation":{"web":"1"},"url":"domain-test.dawnapp.dev"}},{"app":{"id":4,"created_at":"2014-06-24
        18:36:11 UTC","updated_at":"2014-06-24 18:36:11 UTC","name":"drains-test","version":0,"env":{},"formation":{"web":"1"},"url":"drains-test.dawnapp.dev"}},{"app":{"id":5,"created_at":"2014-06-24
        18:36:12 UTC","update[...]
