---
http_interactions:
- request:
    method: get
    uri: http://api.dawn.dev/apps/app-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.1.2
      X-Ruby-Platform:
      - x86_64-linux
      Authorization:
      - Basic SWNlRHJhZ29uOmFGM0VHM1hjdW16Sm1LcGFIeUI5
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - text/html
      etag:
      - '"d5f561456fce1e85587f20c72f7e3305"'
    body:
      encoding: UTF-8
      string: '{"app":{"id":15,"created_at":"2014-06-24 19:08:41 UTC","updated_at":"2014-06-24
        19:08:41 UTC","name":"app-test","version":0,"env":{},"formation":{"web":"1"},"url":"app-test.dawnapp.dev"}}'
  recorded_at: Tue, 24 Jun 2014 22:21:53 GMT
- request:
    method: post
    uri: http://api.dawn.dev/apps/15/scale
    body:
      encoding: UTF-8
      string: '{"app":{"formation":{"web":2}}}'
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.1.2
      X-Ruby-Platform:
      - x86_64-linux
      Authorization:
      - Basic SWNlRHJhZ29uOmFGM0VHM1hjdW16Sm1LcGFIeUI5
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - text/html
      etag:
      - '"c61ca4cc37cdd20e1ca0b6b0544c6993"'
    body:
      encoding: UTF-8
      string: '{"formation":{"web":"2"}}'
  recorded_at: Tue, 24 Jun 2014 22:21:55 GMT
recorded_with: VCR 2.9.2
