---
http_interactions:
- request:
    method: get
    uri: http://api.dawn.dev/apps/app-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.1.2
      X-Ruby-Platform:
      - x86_64-linux
      Authorization:
      - Basic SWNlRHJhZ29uOmhpbV93NGJ6TGNoMXdFdkhMOENI
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - text/html
      etag:
      - '"68d4cbfacf1e2087a7cca41f6f4ca291"'
    body:
      encoding: UTF-8
      string: '{"app":{"id":1,"created_at":"2014-06-24 17:46:19 UTC","updated_at":"2014-06-24
        17:46:19 UTC","name":"app-test","version":0,"env":{},"formation":{"web":"1"},"url":"app-test.dawnapp.dev"}}'
  recorded_at: Tue, 24 Jun 2014 17:49:12 GMT
- request:
    method: post
    uri: http://api.dawn.dev/apps/1/scale
    body:
      encoding: UTF-8
      string: '{"app":{"formation":{"web":2}}}'
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.1.2
      X-Ruby-Platform:
      - x86_64-linux
      Authorization:
      - Basic SWNlRHJhZ29uOmhpbV93NGJ6TGNoMXdFdkhMOENI
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - text/html
      etag:
      - '"c61ca4cc37cdd20e1ca0b6b0544c6993"'
    body:
      encoding: UTF-8
      string: '{"formation":{"web":"2"}}'
  recorded_at: Tue, 24 Jun 2014 17:49:13 GMT
recorded_with: VCR 2.9.2
