---
http_interactions:
- request:
    method: get
    uri: http://api.dawn.dev/apps/domain-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.1.2
      X-Ruby-Platform:
      - x86_64-linux
      Authorization:
      - Basic SWNlRHJhZ29uOmFGM0VHM1hjdW16Sm1LcGFIeUI5
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - text/html
      etag:
      - '"a50757e706fa2ae4b587f7cd0bc1b46d"'
    body:
      encoding: UTF-8
      string: '{"app":{"id":3,"created_at":"2014-06-24 18:36:06 UTC","updated_at":"2014-06-24
        18:36:06 UTC","name":"domain-test","version":0,"env":{},"formation":{"web":"1"},"url":"domain-test.dawnapp.dev"}}'
  recorded_at: Tue, 24 Jun 2014 22:26:13 GMT
- request:
    method: post
    uri: http://api.dawn.dev/apps/3/domains
    body:
      encoding: UTF-8
      string: '{"domain":{"url":"itwasadomain.io"}}'
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.1.2
      X-Ruby-Platform:
      - x86_64-linux
      Authorization:
      - Basic SWNlRHJhZ29uOmFGM0VHM1hjdW16Sm1LcGFIeUI5
  response:
    status:
      code: 409
      message: 
    headers:
      content-type:
      - text/html
    body:
      encoding: UTF-8
      string: '{"id":"domain.exists","message":"Domain  exists"}'
  recorded_at: Tue, 24 Jun 2014 22:26:29 GMT
recorded_with: VCR 2.9.2
