---
http_interactions:
- request:
    method: get
    uri: http://api.dawn.dev/apps/domain-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.1.2
      X-Ruby-Platform:
      - x86_64-linux
      Authorization:
      - Basic SWNlRHJhZ29uOmFGM0VHM1hjdW16Sm1LcGFIeUI5
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - text/html
      etag:
      - '"a50757e706fa2ae4b587f7cd0bc1b46d"'
    body:
      encoding: UTF-8
      string: '{"app":{"id":3,"created_at":"2014-06-24 18:36:06 UTC","updated_at":"2014-06-24
        18:36:06 UTC","name":"domain-test","version":0,"env":{},"formation":{"web":"1"},"url":"domain-test.dawnapp.dev"}}'
  recorded_at: Tue, 24 Jun 2014 22:26:03 GMT
- request:
    method: get
    uri: http://api.dawn.dev/apps/3/domains
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.1.2
      X-Ruby-Platform:
      - x86_64-linux
      Authorization:
      - Basic SWNlRHJhZ29uOmFGM0VHM1hjdW16Sm1LcGFIeUI5
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - text/html
      etag:
      - '"aa8fb4db7b75fe64de47fed7416c5a92"'
    body:
      encoding: UTF-8
      string: '[{"domain":{"id":1,"created_at":"2014-06-24 18:36:08 UTC","updated_at":"2014-06-24
        18:36:08 UTC","url":"cc-rushers.io","app":{"app_id":3}}},{"domain":{"id":2,"created_at":"2014-06-24
        18:36:09 UTC","updated_at":"2014-06-24 18:36:09 UTC","url":"cookiecrushers.com","app":{"app_id":3}}},{"domain":{"id":3,"created_at":"2014-06-24
        18:36:10 UTC","updated_at":"2014-06-24 18:36:10 UTC","url":"cookie-crusher.net","app":{"app_id":3}}},{"domain":{"id":4,"created_at":"2014-06-24
        18:55:44 UTC","updated_at":"2014-06-24 18:55:44 UTC","url":"itwasadomain.io","app":{"app_id":3}}}]'
  recorded_at: Tue, 24 Jun 2014 22:26:11 GMT
recorded_with: VCR 2.9.2
