---
http_interactions:
- request:
    method: get
    uri: http://api.dawn.dev/apps/drain-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.1.2
      X-Ruby-Platform:
      - x86_64-linux
      Authorization:
      - Basic SWNlRHJhZ29uOmFGM0VHM1hjdW16Sm1LcGFIeUI5
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - text/html
      etag:
      - '"7589b1cbb4a716cc872fca9fb11eb526"'
    body:
      encoding: UTF-8
      string: '{"app":{"id":5,"created_at":"2014-06-24 18:36:12 UTC","updated_at":"2014-06-24
        18:36:12 UTC","name":"drain-test","version":0,"env":{},"formation":{"web":"1"},"url":"drain-test.dawnapp.dev"}}'
  recorded_at: Tue, 24 Jun 2014 22:26:32 GMT
- request:
    method: get
    uri: http://api.dawn.dev/apps/5/drains
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.1.2
      X-Ruby-Platform:
      - x86_64-linux
      Authorization:
      - Basic SWNlRHJhZ29uOmFGM0VHM1hjdW16Sm1LcGFIeUI5
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - text/html
      etag:
      - '"d751713988987e9331980363e24189ce"'
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Tue, 24 Jun 2014 22:26:32 GMT
recorded_with: VCR 2.9.2
